{{#envelopes}}
    <div class="envelope">
        <h1>{{familyNames}}</h1>
        <svg class="barcode" id="barcode-{{id}}"></svg>
        {{#families}}
            <h4>{{name}}</h4>
            <ul class="family">
                {{#members}}
                    <li class="member">
                        <span class="name">
                            {{firstName}}
                        </span>
                        <span class="product">
                            {{product}}
                        </span>
                        <span class="bootSize">
                            {{bootSize}}
                        </span>
                    </li>
                {{/members}}
            </ul>
        {{/families}}
    </div>
{{/envelopes}}