.header {
  text-align: center;
}

.barcode {
  max-width: 120px;
  max-height: 100px;
}

.envelope {
  height: 9.5in;
  width: 4in;
}

.family {
  list-style: none;
}

.family .member {
  margin-left: 0.5in;
}

.family .name {
  font-weight: bold;
}

@media print {
  .envelope {
    page-break-after: always;
  }
}
